go 1.27.0

use (
	.
	./agent
	./auth
	./envvars
	./fuzz
	./identifier
	./invariant
	./llm
)

replace primeradiant.com/evener v0.0.0 => .

replace primeradiant.com/evener/auth v0.0.0 => ./auth

replace primeradiant.com/evener/auth v0.1.0 => ./auth

replace primeradiant.com/evener/llm v0.0.0 => ./llm

replace primeradiant.com/evener/agent v0.0.0 => ./agent

replace primeradiant.com/evener/envvars v0.0.0 => ./envvars

replace primeradiant.com/evener/fuzz v0.0.0 => ./fuzz

replace primeradiant.com/evener/invariant v0.0.0 => ./invariant

replace primeradiant.com/evener/identifier v0.0.0 => ./identifier
