{{define "settings-content"}}
<h2 class="settings-h2">General</h2>
<dl class="settings-table">
  <div class="row">
    <dt>Hub address</dt>
    <dd>{{.HubAddr}}</dd>
  </div>
  <div class="row">
    <dt>Run dir</dt>
    <dd>{{.RunDir}}</dd>
  </div>
  <div class="row">
    <dt>State dir</dt>
    <dd>{{.StateDir}}</dd>
  </div>
  <div class="row">
    <dt>Spawn timeout</dt>
    <dd>{{.SpawnTimeout}}</dd>
  </div>
  <div class="row">
    <dt>Past results per page</dt>
    <dd>{{.PastPerPage}}</dd>
  </div>
  <div class="row">
    <dt>Hub config</dt>
    <dd>~/.serf/hub.toml <span class="val-text"><span class="dim">edit to change</span></span></dd>
  </div>
</dl>
{{end}}
