{{ section "identity" }}

{{ section "values" }}

{{ section "capabilities" }}

{{ section "tools" }}

{{ section "tool-list" }}

{{ section "communicate" }}

{{ section "environment" }}

{{ section "workspace" }}

{{ section "role" }}
