{{ section "identity" }}

{{ section "values" }}

{{ section "capabilities" }}

{{ section "tools" }}

{{ section "git-safety" }}

{{ section "security" }}

{{ section "task-tracking" }}

{{ section "communicate" }}

{{ section "environment" }}

{{ section "git" }}

{{ section "workspace" }}

{{ section "role" }}

{{ section "skills" }}

{{ section "available-agents" }}

{{ section "project-docs" }}

{{ if .NonInteractive }}
{{ section "non-interactive" }}
{{ end }}
{{ if .UserInstructionOverride }}

{{ .UserInstructionOverride }}
{{ end }}
{{ range .CLIAppends }}

{{ . }}
{{ end }}
