node_modules/
dist/
.tsbuildinfo
src-tauri/target/
src-tauri/gen/apple/build/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/local.properties
