<environment>
Working directory: {{ .WorkingDir }}
Platform: {{ .Platform }}
OS version: {{ .OSVersion }}
Today's date: {{ .Today }}
Model: {{ .Model }}
Knowledge cutoff: {{ .KnowledgeCutoff }}
{{- if .Sandbox }}
Sandbox: {{ .Sandbox }}
{{- end }}
{{- range .Capabilities }}
{{ . }}
{{- end }}
</environment>
