## Runtime context

<environment>
Working directory: {{ .WorkingDir }}
Platform: {{ .Platform }}
OS version: {{ .OSVersion }}
Today's date: {{ .Today }}
Model: {{ .Model }}
Knowledge cutoff: {{ .KnowledgeCutoff }}
{{- if .ResourceCapsJSON }}
<resource_caps>{{ .ResourceCapsJSON }}</resource_caps>
{{- end }}
{{- if .Sandbox }}
Sandbox: {{ .Sandbox }}
{{- end }}
{{- range .Capabilities }}
{{ . }}
{{- end }}
</environment>
